########
# Support KV260 and other zynqmp platforms
# These are needed in BOTH the genericarm64 baseline and defconfig for v6.6

# Remoteproc
CONFIG_XLNX_R5_REMOTEPROC=m

# UIO
CONFIG_UIO=y
CONFIG_UIO_PDRV_GENIRQ=m

# Rpmsg sample
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m
